
<h2>Review Page</h2>


<img src="{{result.thumbnail}}" /><br>
{{result.title}}<br>
{{result.authors}}<br>

<form method="post" action="/postreview">
  <input type="text" name="titletext" placeholder="Title your review..." maxlength="100" />
  <textarea type="text" name="reviewtext" placeholder="Review this book..." maxlength="700"></textarea>
  <input type="hidden" name="book" value="{{result.title}}">
  <input type="hidden" name="authors" value="{{result.authors}}">
  <input type="hidden" name="image" value="{{result.thumbnail}}">
  <button>Submit</button>
</form>
