
<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <!-- <div class="col-lg-12">
                    <h3></h3>
                </div> -->
                <h3></h3>
                <div class="col-lg-12">
                    <ul class="login">
                    <h3></h3>
                    <form method="post" action="/login">
                    <input type="text" name="username" placeholder="Username" minlength="8" />
                    <input type="text" name="password" placeholder="Password" minlength="8" />
                    <button>Log in</button>
                  </form>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

<a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                        <h2>Your Free Account Awaits </h2>
                      
                        <hr class="intro-divider">
                        <ul class="sign-up">
                        <h3>Sign up</h3>

                        <form method="post" action="/signup">
                          <input type="text" name="username" placeholder="Choose a username..." minlength="8" />
                          <br />
                          <input type="password" name="password" placeholder="Choose a password" minlength="8" />
                          <br />
                          <button>Register</button>
                        </form>                   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
  <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">   <!--extra wrapper-->
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Books Reviews:</h3>
                    <ul>
                    {{#each reviews}}
                       <div class="col-lg-5 col-sm-5 reviewcard clearfix">
                          <li class="booklist">
                           <div class="reviewcard-bookplate row">
                            <div class="bookplate-image clearfix">
                              <img src="{{this.image}}">
                            </div>
                            <div class="bookplate-text">
                            <h3>{{this.book}}</h3>
                            <h3>{{this.authors}}</h3>
                            </div>
                           </div>
                           <div class="reviewcard-reviewplate row">
                            <p>{{this.title}}</p>
                            <p>{{this.content}}</p>
                           </div>
                          </li>
                       </div>
                      {{/each}}
                    </ul>                
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

 

